@font-face {
  font-family: "brevia";
  src: url("brevia/HvDTrial_Brevia-Bold-BF6493a4067c1a1.otf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "brevia";
  src: url("brevia/HvDTrial_Brevia-SemiBold-BF6493a40662f78.otf")
    format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "bryant";
  src: url("bryant/fonnts.com-Bryant_Bold.otf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "bryant";
  src: url("bryant/fonnts.com-Bryant_Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "bryant";
  src: url("bryant/fonnts.com-Bryant.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size-large: 100px;
  --font-size-big: 38px;
  --font-size-intermediate: 32px;
  --font-size-medium: 23px;
  --font-size-xlsmall: 18px;
  --font-size-small: 17px;
}

@media (max-width: 1360px) {
  :root {
    --font-size-large: 72px;
    --font-size-big: 32px;
    --font-size-intermediate: 26px;
    --font-size-medium: 20px;
    --font-size-xlsmall: 16px;
    --font-size-small: 14px;
  }
}

@media (max-width: 800px) {
  :root {
    --font-size-large: 52px;
  }
}

html {
  scroll-behavior: smooth;
  color: #3c3c3b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
  position: relative;
  font-family: "bryant", sans-serif;
}

header {
  background-color: rgb(225, 225, 225);
  padding: 12px 5%;
  position: sticky;
  height: fit-content;
  top: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: padding 0.2s ease;
  z-index: 1000;
  font-size: var(--font-size-xlsmall);
  img {
    width: 100px;
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: #3c3c3b;
      font-weight: bold;
      padding: 8px 18px;
      border-radius: 22px;
      transition: background-color 0.2s ease;
    }

    .active {
      background-color: rgb(250, 220, 136);
    }

    a:hover {
      background-color: rgb(250, 220, 136);
    }
  }
}

header.sticky {
  padding: 8px 48px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1360px) {
  header nav {
    gap: 4px;
  }
}

@media (max-width: 840px) {
  header {
    padding: 10px 0%;
  }
  header.sticky {
    padding: 10px 1%;
  }
  header img {
    width: 70px;
  }
  header nav {
    width: 0px;
    overflow: hidden;
  }
}

h2 {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: normal;
  font-family: brevia;
  text-align: justify;
  font-family: "brevia", sans-serif !important;
  font-weight: 600;
}

.how-we-are {
  background-color: #896bad;
  div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 120px 0%;
    width: 80%;
    margin: auto;

    img {
      border-radius: 16px;
      width: 100%;
      min-width: 450px;
      align-self: self-end;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0;
      h2 {
        margin-bottom: 52px;
        place-self: end;
        text-align: right;
      }

      p {
        font-size: var(--font-size-medium);
        margin: 0px 0px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .how-we-are div {
    grid-template-columns: 0px 1fr;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 80px 0%;
    width: 90%;
    margin: auto;
    img {
      width: 0px;
      min-width: 0px;
    }
  }
}
@media (max-width: 1360) {
  .how-we-are div img {
    width: 350px;
    min-width: 350px;
  }
}

.what-do-we-do {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 120px 0%;
  width: 100%;

  h2 {
    width: 80%;
    margin: auto;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: 90%;
    margin: auto;

    .card:hover {
      background-color: rgb(255, 207, 80);
    }

    .card {
      padding: 32px;
      border-radius: 24px;
      background-color: rgb(250, 220, 136);
      transition: background-color 0.2s ease;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .card-title {
        font-weight: 600;
        font-size: var(--font-size-intermediate);
        text-align: center;
        margin-top: 18px;
      }

      .card-description {
        font-weight: 500;
        font-size: var(--font-size-small);
        width: 80%;
        margin: auto;
        text-align: justify;
      }

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 24px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .what-do-we-do {
    article {
      grid-template-columns: 1fr 1fr;
      gap: 100px;
      width: 90%;
      gap: 50px;
    }
  }
  .card {
    padding: 18px;
  }
}

@media (max-width: 750px) {
  .what-do-we-do {
    article {
      grid-template-columns: 1fr;
      gap: 25px;
      width: 80%;
    }
  }
}


.gallery {
  background-color: #896bad;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 120px 0%;
  width: 100%;

  h2 {
    width: 80%;
    margin: auto;
    text-align: left;
  }

  .gallery-images {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }

    #middle {
      margin-top: 15%;
    }

    #right-2 {
      aspect-ratio: 1/1.2;
    }

    #right-3 {
      aspect-ratio: 1/1.3;
    }
    #right-5 {
      aspect-ratio: 1/1;
    }
  }
}

@media (max-width: 850px) {
  .gallery .gallery-images div img {
    border-radius: 16px;
  }
}

@media (max-width: 450px) {
  .gallery .gallery-images div img {
    border-radius: 12px;
  }
}

.join-us {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 120px 0%;
  width: 100%;
}

.join-us div {
  width: 80%;
  margin: auto;

  h2 {
    text-align: end;
    margin-bottom: 88px;
  }
  p {
    font-size: var(--font-size-medium);
  }
}

.join-us > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.join-us > div > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: var(--font-size-medium);
    font-weight: 500;
  }

  input {
    padding: 0 12px;
    background-color: #e2e1e1;
    height: 32px;
    border-radius: 12px;
    border: none;
    font-size: var(--font-size-small);
    width: 350px;
    outline: none;
    background-color: #896bad;
  }

  span {
    font-size: var(--font-size-small);
    font-weight: 300;
    strong {
      font-weight: 600;
    }
  }

  button {
    padding: 12px 24px;
    background-color: #52bbb5;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: var(--font-size-small);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    margin-top: 12px;
    width: 200px;
  }

  button:hover {
    background-color: #3caca6;
  }

  button:active {
    background-color: #74c9c4;
    color: #3c3c3b;
  }
}

@media screen and (max-width: 768px) {
  .join-us input {
    width: 250px !important;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 120px 0%;
  width: 100%;
  background-color: #ffcf50;

  > div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 52px;

    div {
      max-width: 300px;
      min-width: fit-content;
      h2 {
        font-size: var(--font-size-big);
        font-weight: bold;
        margin-bottom: 52px;
      }
      a {
        text-decoration: none;
        color: #3c3c3b;
      }
    }
  }
}

#legal div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  font-size: var(--font-size-small);
}

#found-us div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  font-size: var(--font-size-small);
}

#contact-info div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

footer {
  width: 90%;
  padding: 24px 0px;
  margin: auto;
  font-size: var(--font-size-small);
  font-weight: 300;
  strong {
    font-weight: 600;
  }
}

.modal {
  width: 0px;
  height: 0px;
}

.modal img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.modal-open {
  overflow: hidden;
  position: fixed;
  z-index: 1005;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.swiper {
  width: 100%;
}

.card-wrapper {
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list img {
  width: 100%;
  aspect-ratio: 1 /1;
  object-fit: cover;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}
